[submodule "API"]
	path = API
	url = https://github.com/scout-handbook/handbook-api.git
[submodule "admin"]
	path = admin
	url = https://github.com/scout-handbook/handbook-web-admin.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/scout-handbook/handbook-web-frontend.git
