Options -Indexes

ErrorDocument 403 /error/403.html 
ErrorDocument 404 /error/404.html 
ErrorDocument 500 /error/500.html 

# Force HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,QSA,L]

# Lessons rewrite
RewriteCond %{REQUEST_URI} ^/lesson/
RewriteRule (.*) / [QSA]

# Login & logout redirect uri
RewriteRule ^log(in|out)$ /log$1\.php

<ifModule mod_headers.c>
	<FilesMatch "index.html">
		Header add Link "</style.css>;rel=preload;as=style"
		Header add Link "</computer.css>;rel=preload;as=style"
		Header add Link "</handheld.css>;rel=preload;as=style"
		Header add Link "</script.js>;rel=preload;as=script"
	</FilesMatch>
</ifModule>

