Options -Indexes

# Pretty error pages
ErrorDocument 403 /error/403.html 
ErrorDocument 404 /error/404.html 
ErrorDocument 500 /error/500.html 

RewriteEngine On

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,QSA,L]

# Competences, fields and lessons rewrite
RewriteCond %{REQUEST_URI} ^/(competence|field|lesson)/?
RewriteRule (.*) / [QSA]

# Login & logout redirect uri
RewriteRule ^log(in|out)$ /API/v0.9/log$1

# Sitemap rewrite
RewriteRule ^sitemap$ sitemap.php

# Security headers
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
Header always set X-Frame-Options "DENY"
Header always set X-Content-Type-Options "nosniff"
Header always set X-Xss-Protection "1; mode=block"
Header always set Referrer-Policy "origin-when-cross-origin"
Header always set Content-Security-Policy "upgrade-insecure-requests; default-src 'self'; script-src 'self' 'unsafe-eval' https://ajax.googleapis.com/ajax/libs/webfont/; connect-src 'self' https://fonts.gstatic.com/ https://ajax.googleapis.com/ajax/libs/webfont/ https://fonts.googleapis.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com data:; img-src 'self' data:"
Header always set Expect-CT "enforce; max-age=31536000"

# Server push
<FilesMatch "/index.html">
	Header add Link "</styles/fontello.css>;rel=preload;as=style"
	Header add Link "</styles/lesson.css>;rel=preload;as=style"
	Header add Link "</styles/main.css>;rel=preload;as=style"
	Header add Link "</styles/nav.css>;rel=preload;as=style"
	Header add Link "</styles/topUI.css>;rel=preload;as=style"
	Header add Link "</styles/computer.css>;rel=preload;as=style"
	Header add Link "</styles/handheld.css>;rel=preload;as=style"
	Header add Link "</settings.js>;rel=preload;as=script"
	Header add Link "</scripts/tools/AfterLoadEvent.js>;rel=preload;as=script"
	Header add Link "</scripts/tools/cacheThenNetworkRequest.js>;rel=preload;as=script"
	Header add Link "</scripts/tools/config.js>;rel=preload;as=script"
	Header add Link "</scripts/tools/request.js>;rel=preload;as=script"
	Header add Link "</scripts/UI/header.js>;rel=preload;as=script"
	Header add Link "</scripts/UI/navigation.js>;rel=preload;as=script"
	Header add Link "</scripts/UI/TOC.js>;rel=preload;as=script"
	Header add Link "</scripts/views/lesson.js>;rel=preload;as=script"
	Header add Link "</scripts/authentication.js>;rel=preload;as=script"
	Header add Link "</scripts/history.js>;rel=preload;as=script"
	Header add Link "</scripts/main.js>;rel=preload;as=script"
	Header add Link "</scripts/metadata.js>;rel=preload;as=script"
</FilesMatch>

# Compression
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/json
