<?php declare(strict_types=1);
namespace HandbookAPI;

@_API_EXEC === 1 or die('Restricted access.');

const CONFIG = [
		'basepath' => __DIR__ . '/API',
		'imagepath' => __DIR__ . '/images',
		'cookieuri' => 'odymaterialy.skauting.cz',
		'baseuri' => 'https://odymaterialy.skauting.cz',
		'apiuri' => 'https://odymaterialy.skauting.cz/API/v0.9'
	];
