body
{
	margin: 0;
	font-size: 16px;
	line-height: 160%;
	font-family: "Open Sans", sans-serif;
	font-feature-settings: "kern" 1, "liga" 1;
}

nav
{
	position: absolute;
	width: 300px;
	height: 100%;
	overflow-y: auto;
	background: #fafafa;
	border-right: 1px solid #bfbfbf;
	z-index: 2;
}

#navContainer
{
	padding-top: 20px;
	padding-bottom: 20px;
}

nav h1
{
	margin-left: 20px;
	margin-right: 20px;
	font-size: large;
	color: #6534AD;
}

nav a
{
	display: inline-block;
	margin-left: 30px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #364149;
	text-decoration: none;
}

nav a:hover
{
	text-decoration: underline;
}

.topButton
{
	color: #6a797d;
	cursor: pointer;
	transition: color ease 0.15s;
}

.topButton:hover
{
	color: #222222;
}

.navCloseButton
{
	margin-right: 20px;
	float: right;
}

.fontDecrease
{
	margin-right: 20px;
	float: right;
	font-size: small;
}

.fontIncrease
{
	margin-right: 20px;
	float: right;
	font-size: x-large;
}

#offlineSwitch
{
	display: none;
	float: right;
	position: relative;
	width: 30px;
	height: 21px;
	margin-right: 30px;
}

#offlineSwitch input
{
	display: none;
}

.switchText
{
	margin-left: -60px;
}

.slider
{
	margin-top: 4px;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #cccccc;
	transition: background-color ease 0.4s;
	border-radius: 17px;
}

.slider:before
{
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	transition: transform ease 0.4s;
	border-radius: 50%;
}

.slider:hover
{
	background-color: #6a797d;
}

input:checked + .slider
{
	background-color: #6534AD;;
}

input:checked + .slider:before
{
	transform: translateX(13px);
}

main
{
	position: absolute;
	left: 0;
	right: 0;
	overflow-y: auto;
	height: 100%;
	color: #222222;
	transition: margin-left 0.3s ease, padding-left 0.1s ease;
}

#overlay
{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
}

#mainContainer
{
	padding: 20px;
	padding-left: 0;
}

main a
{
	color: #6534AD;
	text-decoration: none;
}

main a:hover
{
	text-decoration: underline;
}

main h1
{
	line-height: 140%;
}

#content
{
	font-size: 16px;
	margin: 0 auto;
	max-width: 770px;
}

.notes
{
	display: block;
}

