body
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

nav
{
	position: absolute;
	float: left;
	width: 200px;
	height: 100%;
	background: cyan;
}

header
{
	margin-left: 200px;
	height: 50px;
	background: yellow;
}

main
{
	margin-left: 200px;
}

