*
{
	box-sizing: border-box;
}

body
{
	margin: 0px;
	font-size: 16px;
	line-height: 160%;
	font-family: "Open Sans", sans-serif;
	font-feature-settings: "kern" 1, "liga" 1;
}

nav
{
	position: absolute;
	width: 300px;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow-y: auto;
	background: #fafafa;
	border-right: 1px solid rgba(0,0,0,.25);
	z-index: 1;
}

nav h1
{
	margin-left: 20px;
	margin-right: 20px;
	font-size: large;
	color: #6534AD;
}

nav a
{
	margin-left: 30px;
	margin-right: 20px;
	color: #364149;
	text-decoration: none;
	line-height: 250%;
}

nav a:hover
{
	text-decoration: underline;
}

.topButton
{
	color: #6a797d;
	cursor: pointer;
	transition: color ease 0.15s;
}

.topButton:hover
{
	color: #222222;
}

.navCloseButton
{
	margin-right: 20px;
	float: right;
}

.fontDecrease
{
	margin-right: 20px;
	float: right;
	font-size: small;
}

.fontIncrease
{
	margin-right: 20px;
	float: right;
	font-size: x-large;
}

main
{
	position: absolute;
	left: 0;
	right: 0;
	overflow-y: auto;
	height: 100%;
	padding: 20px;
	color: #222222;
	transition: margin-left 0.3s ease, padding-left 0.1s ease;
}

main a
{
	color: #6534AD;
	text-decoration: none;
}

main a:hover
{
	text-decoration: underline;
}

main h1
{
	line-height: 140%;
}

#content
{
	font-size: 16px;
	margin: 0 auto;
	max-width: 770px;
}

