.oddHeaderRight
{
	text-align: right;
	font-style: italic;
	color: #7F7F7F;
	padding-top: -1.65em;
	padding-right: 1.35em;
}

.oddFooterLeft
{
	font-style: italic;
	padding-bottom: 0.2em;
}

.oddFooterRight
{
	float: right;
	height: 19px;
	margin-top: -1.85em;
	margin-bottom: 1.85em;
}

.evenFooterLeft
{
	font-family: 'odymarathon';
	font-size: 2.0em;
	padding-bottom: 0.1em;
}

.evenFooterRight
{
	float: right;
	height: 15px;
	margin-top: -1.85em;
	margin-bottom: 1.85em;
}

h1
{
	text-align: center;
	font-size: 1.7em;
}

h2
{
	font-size: 1.15em;
	padding-bottom: -0.6em;
}

h3
{
	font-size: 1em;
	padding-bottom: -0.5em;
}

body
{
	text-align: justify;
	line-height: 160%;
}

ul, ol
{
	padding-top: 0.4em;
	padding-left: 3em;
}

li
{
	padding-top: -0.35em;
	padding-bottom: 0.3em;
}

ul p, ol p
{
	padding-top: -1em;
	padding-bottom: -1em;
}

table
{
	border-collapse: collapse;
	border: 1px solid black;
	width: 100%
}

th, td
{
	border: 1px solid black;
	padding: 0.3em 0.8em;
}
