main a {
	color: #6534ad;
	text-decoration: none;
}

main a:hover {
	text-decoration: underline;
}

main h1 {
	line-height: 140%;
}

main img {
	max-width: 100%;
}

main .tableContainer {
	overflow-x: auto;
}

main table {
	border: 1px solid #ddd;
	border-collapse: collapse;
}

main td,
main th {
	border: 1px solid #ddd;
	padding: 8px 20px;
}

main th {
	border-bottom-width: 2px;
}

main tbody tr:nth-child(2n+1) {
	background-color: #f9f9f9;
}

main .notes {
	display: block;
}

#embeddedSpinner {
	animation: spin 2s linear infinite;
	border: 16px solid #bfbfbf;
	border-radius: 50%;
	border-top: 16px solid #6534ad;
	height: 120px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 120px;
}

@keyframes spin {
	0% { transform: translate(-50%, -50%) rotate(0deg); }
	100% { transform: translate(-50%, -50%) rotate(360deg); }
}
