.competenceBubble {
	background-color: #fafafa;
	border: 1px solid #bfbfbf;
	border-radius: 1.5em;
	cursor: pointer;
	display: inline-block;
	font-size: 150%;
	height: 3em;
	margin-bottom: 20px;
	margin-right: 20px;
	min-height: 3em;
	overflow: hidden;
	transition: width ease 0.15s, height ease 0.15s, border-color ease 0.15s, background-color ease 0.15s;
	vertical-align: top;
	width: 3em;
}

.competenceBubble:hover {
	background-color: #f5f5f5;
	border-color: #6534ad;
}

.competenceBubbleNumber {
	float: left;
	font-weight: bold;
	height: 2.9em;
	text-align: center;
	-webkit-touch-callout: none;
	transition: color ease 0.15s;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	width: 3em;
}

.competenceBubbleNumber:hover {
	color: #6534ad;
}

.competenceBubbleText {
	display: block;
	font-size: 66%;
	padding: 20px;
	width: 360px;
}

.competenceBubbleLessons {
	display: block;
	font-size: 66%;
	margin-top: -15px;
	text-align: right;
	width: 360px;
}
