#offlineSwitch {
	display: none;
	float: right;
	height: 21px;
	margin-right: 30px;
	position: relative;
	width: 30px;
}

#offlineSwitch input {
	display: none;
}

.switchText {
	margin-left: -60px;
}

.slider {
	background-color: #ccc;
	border-radius: 17px;
	bottom: 0;
	cursor: pointer;
	left: 0;
	margin-top: 4px;
	position: absolute;
	right: 0;
	top: 0;
	transition: background-color ease 0.4s;
}

.slider::before {
	background-color: white;
	border-radius: 50%;
	bottom: 2px;
	content: "";
	height: 13px;
	left: 2px;
	position: absolute;
	transition: transform ease 0.4s;
	width: 13px;
}

.slider:hover {
	background-color: #6a797d;
}

input:checked + .slider {
	background-color: #6534ad;
}

input:checked + .slider::before {
	transform: translateX(13px);
}
