.topButton {
	color: #67767a;
	cursor: pointer;
	-webkit-touch-callout: none;
	transition: color ease 0.15s;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.topButton:hover {
	color: #6534ad;
}

#fontDecrease {
	float: right;
	font-size: small;
	margin-right: 20px;
}

#fontIncrease {
	float: right;
	font-size: x-large;
	margin-right: 20px;
}
