# Pages rewrite
RewriteCond %{REQUEST_URI} ^/admin/(lessons|competences|images|users|groups)$
RewriteRule (.*) /admin/ [QSA,L]

# PDF rewrite
RewriteRule ^lesson/(.*) lesson.php?id=$1

# Server push
<FilesMatch "index.html">
	Header add Link "</styles/fontello.css>;rel=preload;as=style"
	Header add Link "</styles/lesson.css>;rel=preload;as=style"
	Header add Link "</styles/mainPage.css>;rel=preload;as=style"
	Header add Link "</admin/styles/button.css>;rel=preload;as=style"
	Header add Link "</admin/styles/dialog.css>;rel=preload;as=style"
	Header add Link "</admin/styles/main.css>;rel=preload;as=style"
	Header add Link "</admin/styles/mainView.css>;rel=preload;as=style"
	Header add Link "</admin/styles/sidePanel.css>;rel=preload;as=style"
	Header add Link "</settings.js>;rel=preload;as=script"
	Header add Link "</scripts/tools/AfterLoadEvent.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/lessonEditor/refreshPreview.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/tools/ActionQueue.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/tools/refreshLogin.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/tools/request.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/views/main.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/history.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/main.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/metadata.js>;rel=preload;as=script"
</FilesMatch>
