<FilesMatch "^main\.html$">
	Order Deny,Allow
	Deny from all
	Allow from 127.0.0.1
</FilesMatch>

# Pages rewrite
RewriteCond %{REQUEST_URI} ^/admin/(lessons|competences|images|users)$
RewriteRule (.*) /admin/ [QSA,L]

# Server push
<FilesMatch "index.php">
	Header add Link "</styles/fontello.css>;rel=preload;as=style"
	Header add Link "</styles/fontello-ie7.css>;rel=preload;as=style"
	Header add Link "</styles/lesson.css>;rel=preload;as=style"
	Header add Link "</styles/mainPage.css>;rel=preload;as=style"
	Header add Link "</admin/styles/dialog.css>;rel=preload;as=style"
	Header add Link "</admin/styles/lesson.css>;rel=preload;as=style"
	Header add Link "</admin/styles/main.css>;rel=preload;as=style"
	Header add Link "</admin/styles/sidePanel.css>;rel=preload;as=style"
	Header add Link "</scripts/tools/AfterLoadEvent.js>;rel=preload;as=script"
	Header add Link "</scripts/tools/OdyMarkdown.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/addCompetence.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/addField.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/addImage.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/addLesson.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/changeCompetence.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/changeField.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/changeLessonCompetences.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/changeLessonField.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/changeRole.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/competenceManager.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/default.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/deleteCompetence.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/deleteField.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/deleteImage.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/deleteLesson.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/getLesson.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/history.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/imageManager.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/lessonManager.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/main.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/mainPage.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/refreshLogin.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/refreshPreview.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/request.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/retryAction.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/sidePanel.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/userManager.js>;rel=preload;as=script"
</FilesMatch>
