Order Deny,Allow
Deny from all
Allow from 127.0.0.1

<FilesMatch "^(index\.php)?$">
	Order Allow,Deny
	Allow from all
</FilesMatch>

# Server push
<FilesMatch "index.php">
	Header add Link "</styles/fontello.css>;rel=preload;as=style"
	Header add Link "</styles/fontello-ie7.css>;rel=preload;as=style"
	Header add Link "</styles/lesson.css>;rel=preload;as=style"
	Header add Link "</styles/mainPage.css>;rel=preload;as=style"
	Header add Link "</admin/styles/main.css>;rel=preload;as=style"
	Header add Link "</scripts/OdyMarkdown.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/getLesson.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/history.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/main.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/mainPage.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/refreshPreview.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/request.js>;rel=preload;as=script"
	Header add Link "</admin/scripts/save.js>;rel=preload;as=script"
</FilesMatch>
