# Add .php automatically
RewriteEngine On
RewriteRule ^(add_image|get_image|get_login_state|list_images|list_users|update_lesson_competences|update_lesson_field|update_user|update_user_role)$ /API/v0.9/$1.php [QSA]

# REST API
RewriteRule ^(competence|field|lesson)(/(.*)$|$) /API/v0.9/$1.php?id=$3 [QSA]

RewriteRule image/(.*) /API/v0.9/get_image?id=$1 [QSA]
