# Add .php automatically
RewriteEngine On
RewriteRule ^(add_competence|add_field|add_lesson|delete_competence|delete_field|delete_lesson|get_lesson|get_login_state|list_competences|list_lessons|update_competence|update_field|update_lesson_competences|update_lesson_field|update_lesson|update_user)$ /API/v0.9/$1.php [QSA]
