#overlay
{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #999999;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 9;
	display: none;
}

#dialog
{
	width: 450px;
	height: 150px;
	border-radius: 5px;
	background-color: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
}

#dismissText, #confirmText
{
	position: absolute;
	bottom: 30px;
	right: 30px;
}

#dismissText
{
	right: 110px;
	display: none;
}
