header
{
	position: relative;
	z-index: 8;
	height: 90px;
	background-color: #ffffff;
	border-bottom: 1px solid #bfbfbf;
}

#editor-bar
{
	position: absolute;
	top: 90px;
	width: 50%;
	height: 56px;
	border-bottom: 1px solid #bfbfbf;
}

#editor, #MDeditor, #preview
{
	position: absolute;
	bottom: 0;
	width: 50%;
}

#editor
{
	top: 147px;
}

#MDeditor
{
	top: 91px;
}

.editor-toolbar
{
	border: none;
}

.CodeMirror
{
	position: absolute;
	top: 57px;
	bottom: 0;
	overflow-y: auto;
}

#preview
{
	top: 90px;
	right: 0;
	overflow-y: auto;
	border-left: 1px solid #bfbfbf;
}

#preview-inner
{
	margin: 0 20px 20px 20px;
}

#discard, #save, #lessonSettings, #addImageButton, #closeImageSelector
{
	margin-top: 10px;
}

#discard
{
	margin-left: 10px;
	float: left;
}

#save, #lessonSettings
{
	margin-right: 10px;
	float: right;
}

#addImageButton, #closeImageSelector
{
	margin-left: 10px;
}

#name
{
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	width: 50%;
}

#imageSelector
{
	position: relative;
	height: 100%;
	z-index: 7;
	background-color: #ffffff;
	transition: top 0.4s ease;
	top: -100%;
}

#imageScroller
{
	position: absolute;
	top: 91px;
	left: 0;
	right: 0;
	bottom: 0;
	padding-bottom: 30px;
	overflow-y: auto;
}

#imageWrapper
{
	margin: 0 auto;
	max-width: 770px;
}
