header
{
	position: relative;
	z-index: 8;
	height: 90px;
	background-color: #ffffff;
	border-bottom: 1px solid #bfbfbf;
}

#editor, #preview
{
	position: absolute;
	top: 90px;
	bottom: 0;
	width: 50%;
}

#preview
{
	right: 0;
	overflow-y: auto;
	border-left: 1px solid #bfbfbf;
}

#preview-inner
{
	margin: 0 20px 20px 20px;
}

#discard, #save, #competenceButton
{
	margin-top: 10px
}

#discard i
{
	margin-right: 5px;
}

#save i
{
	margin-left: 5px;
}

#discard
{
	margin-left: 10px;
	float: left;
}

#save
{
	margin-right: 10px;
	float: right;
}

#competenceButton
{
	margin-right: 20px;
	float: right;
}

#name
{
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	width: 50%;
}

#competences
{
	position: relative;
	height: 100%;
	z-index: 7;
	background-color: #ffffff;
	transition: top 0.4s ease;
	top: -100%;
}

#competenceWrapper
{
	position: absolute;
	top: 91px;
	left: 0;
	right: 0;
	bottom: 0;
}

#competenceWrapper form
{
	height: 100%;
	padding-left: 30px;
	overflow-y: auto;
}

.competence
{
	margin-top: 40px;
	margin-bottom: 40px;
}

.competenceNumber
{
	font-weight: bold;
	display: inline-block;
	min-width: 25px;
	text-align: right;
}

.competenceSwitch
{
	float: left;
	position: relative;
	width: 20px;
	height: 20px;
	margin-right: 15px;
}

.competenceSwitch input
{
	display: none;
}

.checkbox
{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid #bfbfbf;
	border-radius: 3px;
	transition: border-color ease 0.15s, background-color ease 0.15s;
}

.checkbox:before
{
	position: absolute;
	content: "";
	width: 9px;
	height: 5px;
	left: 3px;
	bottom: 7px;
	border: 3px solid #bfbfbf;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
	transition: border-color ease 0.15s
}

.checkbox:hover
{
	border-color: #6534ad;
	background-color: #f5f5f5;
}

.checkbox:hover:before
{
	border-color: #6534ad;
}

input:checked + .checkbox
{
	background-color: #6534ad;
	border-color: #6534ad;
}

input:checked + .checkbox:before
{
	border-color: #fafafa;
}
