body
{
	margin: 0;
	color: #222222;
	font-size: 16px;
	line-height: 160%;
	font-family: "Open Sans", sans-serif;
	font-kerning: normal;
	font-feature-settings: "liga" 1;
}

main
{
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
