body
{
	margin: 0;
	color: #222222;
	font-size: 16px;
	line-height: 160%;
	font-family: "Open Sans", sans-serif;
	font-kerning: normal;
	font-feature-settings: "liga" 1;
}

main
{
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#mainPage
{
	padding: 20px;
	max-width: 770px;
	margin: 0 auto;
}

.button
{
	display: inline-block;
	padding: 0 15px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color: #fafafa;
	border-radius: 3px;
	border: 1px solid #bfbfbf;
	cursor: pointer;
	transition: color ease 0.15s, border-color ease 0.15s, background-color ease 0.15s;
}

.button:hover
{
	color: #6534ad;
	border-color: #6534ad;
	background-color: #f5f5f5;
}

.button.mainPage
{
	margin-top: 10px;
	margin-right: 20px;
}

#mainPageContainer
{
	height: 100%;
	overflow-y: auto;
}

#topBar
{
	height: 80px;
	background-color: #fafafa;
	border-bottom: 1px solid #bfbfbf;
}

#userAccount
{
	height: 80px;
	width: 300px;
	border-right: 1px solid #bfbfbf;
}

#userAvatar
{
	margin: 5px 15px;
	border: 5px solid #e0e0e0;
	border-radius:50%;
	overflow:hidden;
	width: 60px;
	height: 60px;
	float: left;
}

#userName
{
	padding-top: 12px;
}

#logLink
{
	margin-top: 5px;
}
