body
{
	margin: 0;
	color: #222222;
	font-size: 16px;
	line-height: 160%;
	font-family: "Open Sans", sans-serif;
	font-kerning: normal;
	font-feature-settings: "liga" 1;
}

main
{
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#mainPage
{
	padding: 20px;
	max-width: 770px;
	margin: 0 auto;
}

.button
{
	display: inline-block;
	padding: 0 15px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color: #fafafa;
	border: 1px solid #bfbfbf;
	border-radius: 3px;
	cursor: pointer;
	transition: color ease 0.15s, border-color ease 0.15s, background-color ease 0.15s;
}

.button:hover
{
	color: #6534ad;
	border-color: #6534ad;
	background-color: #f5f5f5;
}

.button.mainPage
{
	margin-top: 10px;
	margin-right: 20px;
}

#mainPageContainer
{
	position: absolute;
	top: 81px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
}

#topBar
{
	height: 80px;
	background-color: #fafafa;
	border-bottom: 1px solid #bfbfbf;
}

#lessonManager
{
	left: 301px;
}

#competenceManager
{
	left: 452px;
}

#userManager
{
	left: 603px;
}

#userAccount
{
	height: 80px;
	width: 300px;
	display: inline-block;
	border-right: 1px solid #bfbfbf;
}

#userAvatar
{
	margin: 5px 15px;
	border: 5px solid #e0e0e0;
	border-radius:50%;
	overflow:hidden;
	width: 60px;
	height: 60px;
	float: left;
}

#userName
{
	padding-top: 12px;
}

#logLink
{
	margin-top: 5px;
}

.topBarTab
{
	cursor: pointer;
	width: 150px;
	height: 52px;
	display: inline-block;
	position: absolute;
	margin-left: -1px;
	border-left: 1px solid #bfbfbf;
	border-right: 1px solid #bfbfbf;
	padding-top: 28px;
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	transition: color ease 0.15s, border-color ease 0.15s, background-color ease 0.15s;
}

.topBarTab:hover, .activeTopBarTab
{
	z-index: 1;
	color: #6534ad;
	border-color: #6534ad;
	background-color: #f5f5f5;
}

.userTable
{
	border: none;
}

.userTable th
{
	border: none;
	border-bottom: 1px solid #bfbfbf;
	text-align: left;
}

.userTable td
{
	border: none;
	padding: 15px 20px;
}

.userTable td + td, .userTable th + th
{
	padding-left: 150px;
}

.userTable tr:nth-child(2n+1)
{
	background-color: #ffffff;
}

#pagination
{
	text-align: center;
	margin-top: 40px;
}

.paginationButton
{
	display: inline-block;
	margin: 0 8px;
	padding: 3px 5px;
	background-color: #fafafa;
	border: 1px solid #bfbfbf;
	border-radius: 3px;
	cursor: pointer;
	transition: color ease 0.15s, border-color ease 0.15s, background-color ease 0.15s;
}

.paginationButton:hover, .paginationButton.active
{
	color: #6534ad;
	border-color: #6534ad;
	background-color: #f5f5f5;
}

#userSearchForm
{
	margin-top: 20px;
	margin-bottom: 50px;
}

#userSearchBox
{
	width: 200px;
}

#userSearchButton, #userSearchCancel
{
	margin-left: 20px;
}
