body
{
	margin: 0;
	color: #222222;
	font-size: 16px;
	line-height: 160%;
	font-family: "Open Sans", sans-serif;
	font-kerning: normal;
	font-feature-settings: "liga" 1;
}

main
{
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#mainPage
{
	padding: 20px;
	max-width: 770px;
	margin: 0 auto;
}

.button
{
	display: inline-block;
	padding: 0 15px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color: #fafafa;
	border-radius: 3px;
	border: 1px solid #bfbfbf;
	cursor: pointer;
	transition: color ease 0.15s, border-color ease 0.15s, background-color ease 0.15s;
}

.button:hover
{
	color: #6534ad;
	border-color: #6534ad;
	background-color: #f5f5f5;
}

.button.mainPage
{
	margin-top: 10px;
	margin-right: 20px;
}

#mainPageContainer
{
	height: 100%;
	overflow-y: auto;
}

#addField
{
	margin-right: 20px;
}
