body
{
	margin: 0;
	font-size: 16px;
	line-height: 160%;
	font-family: "Open Sans", sans-serif;
	font-kerning: normal;
	font-feature-settings: "liga" 1;
}

main
{
	color: #222222;
}

#header
{
	height: 40px;
}

#editor
{
	position: absolute;
	top: 40px;
	bottom: 0;
	width: 47.5%;
}

#preview
{
	position: absolute;
	top: 40px;
	left: 52.5%;
	bottom: 0;
	overflow-y: auto;
	width: 47.5%;
}
