#sidePanel
{
	position: absolute;
	top:0;
	right: -631px;
	bottom: 0;
	width: 600px;
	padding-top: 30px;
	padding-left: 30px;
	border-left: solid 1px #bfbfbf;
	background: white;
	transition: right ease 0.3s;
	z-index: 1;
}

.sidePanelTitle
{
	color: #6534ad;
}

#sidePanelCancel
{
	margin-right: 20px;
}

#sidePanelOverlay
{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #999999;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
}

.competenceNumber
{
	font-weight: bold;
	display: inline-block;
	min-width: 25px;
	text-align: right;
}

.formRow
{
	margin-top: 30px;
}

.formSwitch input
{
	display: none;
}

.formCustom
{
	width: 15px;
	height: 15px;
	margin-right: 10px;
	margin-bottom: -2px;
	display: inline-block;
	border: 1px solid #bfbfbf;
	background-color: 1px solid #fafafa;
	cursor: pointer;
	transition: border-color ease 0.15s, background-color ease 0.15s;
}

.formCustom:before
{
	content: "";
	position: fixed;
}

.formCustom:hover
{
	border-color: #6534ad;
	background-color: #f5f5f5;
}

input:checked + .formcustom
{
	border-color: #6534ad;
	background-color: #f5f5f5;
}

.formRadio
{
	border-radius: 8px;
}

.formRadio:before
{
	width: 7px;
	height: 7px;
	margin-top: 4px;
	margin-left: 4px;
	background-color: #bfbfbf;
	border-radius: 4px;
	transition: background-color ease 0.15s;
}

.formRadio:hover:before
{
	background-color: #6534ad;
}

input:checked + .formRadio:before
{
	background-color: #6534ad;
}

.formCheckbox
{
	border-radius: 3px;
}

.formCheckbox:before
{
	width: 8px;
	height: 4px;
	margin-top: 3px;
	margin-left: 2px;
	border: 3px solid #bfbfbf;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
	transition: border-color ease 0.15s;
}

.formCheckbox:hover:before
{
	border-color: #6534ad;
}

input:checked + .formCheckbox:before
{
	border-color: #6534ad;
}
