body {
	font-family: "Open Sans", sans-serif;
	font-feature-settings: "liga" 1; /* stylelint-disable-line plugin/no-unsupported-browser-features */
	font-kerning: normal; /* stylelint-disable-line plugin/no-unsupported-browser-features */
	font-size: 16px;
	line-height: 160%;
	margin: 0;
}

main {
	color: #222;
	height: 100%;
	left: 0;
	overflow-y: auto;
	position: absolute;
	right: 0;
	transition: margin-left 0.3s ease, padding-left 0.1s ease;
}

#mainContainer {
	padding: 20px;
	padding-left: 0;
}

#content {
	font-size: 16px;
	margin: 0 auto;
	max-width: 770px;
}
