.competenceNumber {
	font-weight: bold;
}

#competenceNumber {
	margin-left: 5px;
	width: 37px;
}

#competenceName,
#groupName {
	font-size: 1.5em;
	font-weight: bold;
}

#competenceDescription {
	margin-top: 20px;
}

.changeCompetence,
.deleteCompetence {
	margin-bottom: 0;
}
