#overlay {
	background-color: #999;
	background-color: rgba(0, 0, 0, 0.4); /* stylelint-disable-line plugin/no-unsupported-browser-features */
	display: none;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 9;
}

#dialog {
	background-color: #fff;
	border-radius: 5px;
	display: none;
	height: 150px;
	left: 50%;
	padding: 40px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 450px;
	z-index: 9;
}

#dismissText,
#confirmText {
	bottom: 30px;
	position: absolute;
	right: 10px;
}

#dismissText {
	display: none;
	right: 100px;
}

#spinner {
	animation: spin 2s linear infinite;
	border: 16px solid #fafafa;
	border-radius: 50%;
	border-top: 16px solid #6534ad;
	display: none;
	height: 120px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 120px;
	z-index: 9;
}
