#sidePanelForm legend {
	font-size: 1.1em;
	font-style: italic;
	margin-bottom: 5px;
	margin-left: 5px;
}

.heading {
	font-size: 1.5em;
	font-weight: bold;
}

.formRow {
	margin-top: 30px;
}

.formText {
	border: 1px solid #bfbfbf;
	border-radius: 3px;
	font-family: "Open Sans", sans-serif;
	padding: 5px 10px;
	transition: border-color ease 0.15s, background-color ease 0.15s;
	width: 90%;
}

.formName {
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px 16px;
}

.formSelect {
	background-color: #fafafa;
	border: 1px solid #bfbfbf;
	border-radius: 3px;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	padding: 2px 10px;
	transition: border-color ease 0.15s, background-color ease 0.15s;
}

.formText:focus,
.formSelect:focus {
	background-color: #f5f5f5;
	border-color: #6534ad;
	outline: none;
}

.formSwitch input {
	display: none;
}

.formCustom {
	background-color: #fafafa;
	border: 1px solid #bfbfbf;
	cursor: pointer;
	display: inline-block;
	height: 15px;
	margin-bottom: -2px;
	margin-right: 10px;
	transition: border-color ease 0.15s, background-color ease 0.15s;
	width: 15px;
}

.formCustom::before {
	content: "";
	position: absolute;
}

.formCustom:hover {
	background-color: #f5f5f5;
	border-color: #6534ad;
}

input:checked + .formCustom {
	background-color: #f5f5f5;
	border-color: #6534ad;
}

.formRadio {
	border-radius: 8px;
}

.formRadio::before {
	background-color: #bfbfbf;
	border-radius: 4px;
	height: 7px;
	margin-left: 4px;
	margin-top: 4px;
	transition: background-color ease 0.15s;
	width: 7px;
}

.formRadio:hover::before {
	background-color: #6534ad;
}

input:checked + .formRadio::before {
	background-color: #6534ad;
}

.formCheckbox {
	border-radius: 3px;
}

.formCheckbox::before {
	border: 3px solid #bfbfbf;
	border-right: none;
	border-top: none;
	height: 4px;
	margin-left: 2px;
	margin-top: 3px;
	transform: rotate(-45deg);
	transition: border-color ease 0.15s;
	width: 8px;
}

.formCheckbox:hover::before {
	border-color: #6534ad;
}

input:checked + .formCheckbox::before {
	border-color: #6534ad;
}

.formFile input {
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	width: 0.1px;
	z-index: -1;
}
