body {
	color: #222;
	font-family: "Open Sans", sans-serif;
	font-feature-settings: "liga" 1; /* stylelint-disable-line plugin/no-unsupported-browser-features */
	font-kerning: normal; /* stylelint-disable-line plugin/no-unsupported-browser-features */
	font-size: 16px;
	line-height: 160%;
	margin: 0;
}

main {
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 100%;
}
