#sidePanel {
	background: white;
	border-left: solid 1px #bfbfbf;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 30px;
	position: absolute;
	right: -600px;
	top: 0;
	transition: right ease 0.3s, width ease 0.3s;
	width: 539px;
	z-index: 10;
}

.sidePanelTitle {
	font-size: 2em;
	line-height: 150%;
}

#sidePanelCancel {
	margin-right: 20px;
}

#sidePanelOverlay {
	background-color: #999;
	background-color: rgba(0, 0, 0, 0.4); /* stylelint-disable-line plugin/no-unsupported-browser-features */
	display: none;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 9;
}
