html {
	display: table;
	height: 100%;
	margin: auto;
}

body {
	background: #eaeaea;
	color: #364149;
	display: table-cell;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 40px;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}
