APP_NAME=OdyMateriály
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://odymaterialy.test/API

DB_HOST=127.0.0.1
DB_DATABASE=dbname
DB_USERNAME=username
DB_PASSWORD=password

COOKIE_URI='odymaterialy.test'

SKAUTIS_APP_ID='0000000-0000-0000-0000-000000000000'
SKAUTIS_TEST_MODE=false
