<?php declare(strict_types=1);

@$_API_SECRETS_EXEC === 1 or die('Restricted access.');

return (object)[
		'db_dsn' => 'mysql:host=localhost;dbname=mydbname',
		'db_user' => 'mydbuser',
		'db_password' => 'mydbpassword',
		'skautis_app_id' => '12345678-1234-1234-1234-123456781234',
		'skautis_test_mode' => true
	];
