<?php declare(strict_types=1);
namespace HandbookAPI;

@_API_EXEC === 1 or die('Restricted access.');

const DB_DSN = 'mysql:host=localhost;dbname=dbname';
const DB_USER = 'username';
const DB_PASSWORD = 'password';
