main a
{
	color: #6534AD;
	text-decoration: none;
}

main a:hover
{
	text-decoration: underline;
}

main h1
{
	line-height: 140%;
}

main img
{
	max-width: 100%;
}

main .tableContainer
{
	overflow-x: auto;
}

main table
{
	border: 1px solid #dddddd;
	border-collapse: collapse;
}

main td, main th
{
	border: 1px solid #dddddd;
	padding: 8px 20px;
}

main th
{
	border-bottom-width: 2px;
}

main tbody tr:nth-child(2n+1)
{
	background-color: #f9f9f9;
}

main .notes
{
	display: block;
}
