.competence
{
	border: 1px solid #bfbfbf;
	background-color: #fafafa;
	display: inline-block;
	margin-right: 20px;
	border-radius: 1.5em;
	cursor: pointer;
	width: 3em;
	max-height: 3em;
	overflow: hidden;
	font-size: 150%;
	vertical-align: top;
	transition: width ease 0.15s, max-height ease 0.15s, border-color ease 0.15s, background-color ease 0.15s;
}

.competenceNumber
{
	text-align: center;
	width: 3em;
	height: 2.9em;
	float: left;
	transition: color ease 0.15s;
}

.competenceText
{
	display: block;
	font-size: 66%;
	width: 360px;
	padding: 20px;
}

main a
{
	color: #6534AD;
	text-decoration: none;
}

main a:hover
{
	text-decoration: underline;
}

main h1
{
	line-height: 140%;
}

table
{
	border: 1px solid #DDDDDD;
	border-collapse: collapse;
}

td, th
{
	border: 1px solid #DDDDDD;
	padding: 8px 20px;
}

th
{
	border-bottom-width: 2px;
}

tbody tr:nth-child(2n+1)
{
	background-color: #F9F9F9;
}

.notes
{
	display: block;
}
