body
{
	margin: 0;
	font-size: 16px;
	line-height: 160%;
	font-family: "Open Sans", sans-serif;
	font-kerning: normal;
	font-feature-settings: "liga" 1;
}

nav
{
	position: absolute;
	width: 300px;
	height: 100%;
	overflow-y: auto;
	background: #fafafa;
	border-right: 1px solid #bfbfbf;
	z-index: 2;
}

nav a
{
	color: #6534AD;
	text-decoration: none;
}

nav a:hover
{
	text-decoration: underline;
}

#userAccount
{
	height: 80px;
	border-bottom: 1px solid #bfbfbf;
}

#userAvatar
{
	margin: 5px 15px;
	border: 5px solid #e0e0e0;
	border-radius:50%;
	overflow:hidden;
	width: 60px;
	height: 60px;
	float: left;
}

#userName
{
	padding-top: 12px;
}

#logLink
{
	margin-top: 5px;
}

#navContainer
{
	padding-top: 20px;
	padding-bottom: 20px;
}

#navContainer h1
{
	margin-left: 20px;
	margin-right: 20px;
	font-size: large;
	color: #364149;
}

#navContainer a
{
	display: inline-block;
	margin: 10px 20px 10px 30px;
}

#navContainer h1 a
{
	color: #364149;
	margin: 0;
}

.topButton
{
	color: #6a797d;
	cursor: pointer;
	transition: color ease 0.15s;
}

.topButton:hover
{
	color: #222222;
}

#navCloseButton
{
	margin-right: 20px;
	float: right;
}

#fontDecrease
{
	margin-right: 20px;
	float: right;
	font-size: small;
}

#fontIncrease
{
	margin-right: 20px;
	float: right;
	font-size: x-large;
}

#offlineSwitch
{
	display: none;
	float: right;
	position: relative;
	width: 30px;
	height: 21px;
	margin-right: 30px;
}

#offlineSwitch input
{
	display: none;
}

.switchText
{
	margin-left: -60px;
}

.slider
{
	margin-top: 4px;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #cccccc;
	transition: background-color ease 0.4s;
	border-radius: 17px;
}

.slider:before
{
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	transition: transform ease 0.4s;
	border-radius: 50%;
}

.slider:hover
{
	background-color: #6a797d;
}

input:checked + .slider
{
	background-color: #6534AD;;
}

input:checked + .slider:before
{
	transform: translateX(13px);
}

main
{
	position: absolute;
	left: 0;
	right: 0;
	overflow-y: auto;
	height: 100%;
	color: #222222;
	transition: margin-left 0.3s ease, padding-left 0.1s ease;
}

#overlay
{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #999999;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
}

#mainContainer
{
	padding: 20px;
	padding-left: 0;
}

main a
{
	color: #6534AD;
	text-decoration: none;
}

main a:hover
{
	text-decoration: underline;
}

main h1
{
	line-height: 140%;
}

main table
{
	border: 1px solid #DDDDDD;
	border-collapse: collapse;
}

main td, main th
{
	border: 1px solid #DDDDDD;
	padding: 8px 20px;
}

main th
{
	border-bottom-width: 2px;
}

main tbody tr:nth-child(2n+1)
{
	background-color: #F9F9F9;
}

#content
{
	font-size: 16px;
	margin: 0 auto;
	max-width: 770px;
}

.notes
{
	display: block;
}

