body
{
	margin: 0;
	font-size: 16px;
	line-height: 160%;
	font-family: "Open Sans", sans-serif;
	font-kerning: normal;
	font-feature-settings: "liga" 1;
}

main
{
	position: absolute;
	left: 0;
	right: 0;
	overflow-y: auto;
	height: 100%;
	color: #222222;
	transition: margin-left 0.3s ease, padding-left 0.1s ease;
}

#mainContainer
{
	padding: 20px;
	padding-left: 0;
}

#content
{
	font-size: 16px;
	margin: 0 auto;
	max-width: 770px;
}
