#offlineSwitch
{
	display: none;
	float: right;
	position: relative;
	width: 30px;
	height: 21px;
	margin-right: 30px;
}

#offlineSwitch input
{
	display: none;
}

.switchText
{
	margin-left: -60px;
}

.slider
{
	margin-top: 4px;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #cccccc;
	transition: background-color ease 0.4s;
	border-radius: 17px;
}

.slider:before
{
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	transition: transform ease 0.4s;
	border-radius: 50%;
}

.slider:hover
{
	background-color: #6a797d;
}

input:checked + .slider
{
	background-color: #6534AD;;
}

input:checked + .slider:before
{
	transform: translateX(13px);
}
