.topButton
{
	color: #67767a;
	cursor: pointer;
	transition: color ease 0.15s;
}

.topButton:hover
{
	color: #6534ad;
}

#fontDecrease
{
	margin-right: 20px;
	float: right;
	font-size: small;
}

#fontIncrease
{
	margin-right: 20px;
	float: right;
	font-size: x-large;
}
