Order Deny,Allow
Deny from all
Allow from 127.0.0.1

# Add .php automatically
RewriteEngine On
RewriteRule ^(list_lessons|get_lesson)$ /API/$1.php [QSA]

<FilesMatch "^(list_lessons|get_lesson)(\.php)?$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

